<div class="row">
    <button (click)="methodSplitString()">Split String</button><hr>
    <button (click)="methodReplaceString()">Replcace String</button><hr>
    <button (click)="methodRepeatString()">Repeat String</button><hr>
    <button (click)="methodTrimString()">Trim String</button><hr>
    <button (click)="methodToUpperCase()">Uppercase String</button><hr>
    <button (click)="methodGetSubstring()">Get Sub String</button><hr>
    <button (click)="methodGetCharAt()">Get Chart At</button><hr>
    <hr><hr><hr>
    <button (click)="checkStartsWith()">checkStartsWith</button><hr>
    <button (click)="checkEndsWith()">checkEndsWith</button><hr>
    <button (click)="findIndexOf()">findIndexOf</button><hr>
    <button (click)="findLastIndexOf()">findLastIndexOf</button><hr>
    <button (click)="findSearch()">findSearch</button><hr>
    <button (click)="findMatch()">findMatch</button><hr>
</div>
