<div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (submit)="onSubmit()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" formControlName="username" class="form-control">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" class="form-control">
        <br>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Login</button>
    </form>
</div>
